.heading {
    background-color: white;
    padding: 20px;
    color: #999;
    text-align: center;
}
.sub-heading {
    margin-top: -13px;
    background-color: yellow;
    color: #999;
    padding: 10px;
    text-align: center;
}