.list {
    background-color: white;
    color: #999;
    padding: 10px 40px;
    margin: 10px 20px;
    font-size: medium;
    width: 400px;
}
.remove-list {
    border-radius: 20px;
    color: #999;
    background-color: white;
}
