.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    width: max-content;
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 0, 0.521);
}